{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "chrome": 68
            },
            "modules": false,
            "loose": true
        }],
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-external-helpers",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ],
    "exclude": "node_modules/**"
}
