.widget-checkbox {
    display: inline-block;
    padding: 0 8px;
}

.widget-checkbox input[type="checkbox"] {
    display: none;
}

.widget-checkbox .checkbox-rectangle {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #dcdee2;
    /*border-radius: 2px;*/
    background-color: #ffffff;
    margin-right: 8px;
}

.widget-checkbox label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget-checkbox label svg path {
    transition: fill .4s linear;
}

.widget-checkbox input[type="checkbox"]:checked ~ label .checkbox-rectangle {
    border-color: #2d8cf0;
}

.widget-checkbox input[type="checkbox"]:checked ~ label svg path {
    fill: #2d8cf0;
}

.widget-checkbox input[type="checkbox"]:disabled {
    border-color: #dcdee2;
}

.widget-checkbox input[type="checkbox"]:disabled ~ label svg path {
    fill: #dcdee2;
}

.widget-checkbox input[type="checkbox"] ~ label svg path {
    background: #ffffff;
}
