.widget-menu {
    border-bottom: 1px solid #dcdee2;
}

.widget-menu .menu-bar {
    position: relative;
}

.widget-menu .menu-bar-item {
    float: left;
    padding: 8px;
    cursor: pointer;
}

.widget-menu .menu {
    display: none;
    border: 1px solid #dddddd;
    background: #ffffff;
    /*border-radius: 3px;*/
}

.widget-menu .menu .menu-item {
    padding: 6px 16px;
    cursor: pointer;
}

.widget-menu .menu .menu-item:hover {
    background: #ebf7ff;
}

.widget-menu .menu .separator {
    display: block;
    margin: 0;
    color: #999;
    border-top: 1px solid #dfe5eb;
}
