.widget-modal {
    display: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}

.widget-modal .modal-close {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.widget-modal .modal-close svg {
    position: relative;
    width: 16px;
    height: 16px;
}

.widget-modal .modal-title {
    cursor: move;
    padding: 0 80px 0 16px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}

.widget-modal .modal-content {
    position: relative;
    overflow: auto;
    padding: 16px;
}

.widget-modal .modal-footer {
    position: absolute;
    top: 0;
    left: 0;
}

.widget-modal .modal-footer .widget-button {
    float: right;
    margin: 8px 16px 8px 4px;
}
