.widget-tabs {
    padding: 8px;
}
.widget-tabs .link-bar {
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
    border-bottom: 1px solid #dcdee2;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}

.widget-tabs .link-bar .link-bar-item {
    display: inline-block;
    height: 100%;
    padding: 4px 16px;
    margin-bottom: -1px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    border: 1px transparent solid;
    transition: color .3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget-tabs .link-bar .link-bar-item:hover {
    border: 1px dotted #80c6ff;
}

.widget-tabs .link-bar .link-bar-item.active {
    box-sizing: border-box;
    border-bottom: 1px solid #2d8cf0;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.widget-tabs .link-bar .link-bar-item .close {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 8px;
}

.widget-tabs .link-bar .link-bar-item .close svg {
    position: relative;
    width: 16px;
    height: 16px;
}

.widget-tabs .link-bar .link-bar-item .close:hover svg {
    fill: #333333;
}

.widget-tabs .view-content {

}

.widget-tabs .view-content .view-content-block {
    padding: 8px;
    display: none;
}

.widget-tabs .view-content .view-content-block.active {
    display: block;
}
