.widget-toolbar {
    padding: 4px 0;
    border: 1px solid #dcdee2;
}

.widget-toolbar .widget-button {
    border-color: transparent;
}

.widget-toolbar .widget-button:hover {
    border: 1px dotted #80c6ff;
}
