.widget-accordion .accordion-item > .title {
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
.widget-accordion .accordion-item .title {
    font-weight: 700;
    position: relative;
    padding: 0.5em 1em;
    /*margin-bottom: 0.5em;*/
    display: block;
    cursor: pointer;
    background-color: whiteSmoke;
    transition: background-color 0.15s ease-in-out;
}

.widget-accordion .accordion-item .checkbox:checked + label,
.widget-accordion .accordion-item .title:hover {
    background-color: #999999;
}

.widget-accordion .accordion-item .title:after,
.widget-accordion .accordion-item .checkbox:checked + .title:after {
    content: "+";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    background-color: #e5e5e5;
    transition: background-color 0.15s ease-in-out;
}

.widget-accordion .accordion-item .title:hover:after,
.widget-accordion .accordion-item .item-checkbox:checked + .title:after {
    background-color: #b5b5b5;
}

.widget-accordion .accordion-item .item-checkbox:checked + .title:after {
    content: "-";
}

.widget-accordion .accordion-item .item-checkbox {
    display: none;
}

.widget-accordion .accordion-item .child-container,
.widget-accordion .accordion-item .item-text {
    opacity: 0;
    height: 0;
    /*margin-bottom: 0.5em;*/
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}

.widget-accordion .accordion-item .item-checkbox:checked ~ .child-container,
.widget-accordion .accordion-item .child-item .item-checkbox:checked ~ .item-text {
    opacity: 1;
    height: auto;
}

.widget-accordion .accordion-item .child-item .title {
    background: none;
    font-weight: 600;
    padding: 0.5em 2em;
    margin-bottom: 0;
}

.widget-accordion .accordion-item .child-item .title:checked {
    background: none;
    border-bottom: 1px solid whitesmoke;
}

.widget-accordion .accordion-item .child-item .title:after,
.widget-accordion .accordion-item .child-item .item-checkbox:checked + .title:after {
    left: 0;
    background: none;
}

.widget-accordion .accordion-item .child-item .item-checkbox:checked + label,
.widget-accordion .accordion-item .child-item .title:hover {
    background: none;
}

.widget-accordion .accordion-item .child-item .item-text {
    padding: 0 1em 0 2em;
}
