.widget-separator {
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    border: 0;
    border-left: dotted 1px #adb3b9;
    height: 18px;
    vertical-align: middle;
    margin: 0 8px 1px;
}
