.widget-tree {
    padding: 9px;
}

.widget-tree li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: 0;
}

.widget-tree li.branch .icon-expand,
.widget-tree li.branch .icon-collapse,
.widget-tree li.leaf .icon-fibre {
    line-height: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
}

.widget-tree li.branch .icon-expand,
.widget-tree li.branch .icon-collapse {
    width: 18px;
    height: 18px;
    /*background: transparent url(tree.png);*/
}

.widget-tree li.branch .icon-expand {
    background-position: -92px 0;
}

.widget-tree li.last-branch .icon-expand {
    background-position: -92px -36px;
}

.widget-tree li.branch .icon-collapse {
    background-position: -74px -18px;
}

.widget-tree li.last-branch .icon-collapse {
    background-position: -74px -36px;
}

.widget-tree li.leaf .icon-fibre {
    width: 18px;
    height: 18px;
    background: transparent url('../resources/images/tree.png') -56px -18px;
}

.widget-tree li.last-leaf .icon-fibre {
    background-position: -56px -36px;
}

.widget-tree li a {
    display: inline-block;
    cursor: pointer;
    height: 18px;
    margin: 0;
    padding: 0;
}

.widget-tree li a .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.widget-tree li a .node-text {
    display: inline-block;
    padding: 0 0 0 4px;
    font-size: 13px;
}

.widget-tree li ul {
    margin: 0;
    padding: 0 0 0 16px;
    /*padding: 0;*/
    background: url('../resources/images/table-link-line.gif') 0 0 repeat-y;
}

/*.widget-tree li.last-leaf ul,*/
/*.widget-tree li.last-branch ul{*/
    /*background: none;*/
/*}*/

/* spread expand  expand/collapse branch trunk */
