.widget-radio {

}

.widget-radio input[type="radio"] {
    display: none;
}

.widget-radio .radio-rectangle {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #dcdee2;
    border-radius: 7px;
    background-color: #fff;

    transition: border-color .2s ease-in-out,background-color .2s ease-in-out,box-shadow .2s ease-in-out;
}

.widget-radio label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget-radio label svg path {
    transition: stroke-dashoffset .4s linear;
}

.widget-radio input[type="radio"]:checked ~ label svg path {
    border-color: #ffffff;
    fill: #2d8cf0;
}

.widget-radio input[type="radio"] ~ label svg path {
    background: #ffffff;
    fill: #ffffff;
}
