.table-wrapper {
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #dddddd;
}

.table-wrapper .table-header {
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #dddddd;
}

.table-wrapper .table {
    position: relative;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.table-wrapper .table tr th {
    vertical-align: middle;
    box-sizing: border-box;
    min-height: 2rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f7f7f7;
    color: #333333;
    border-right: 1px solid #dddddd;
    text-overflow: ellipsis;
}

.table-wrapper .table tr th:first-child {
    border-left: none;
}

.table-wrapper .table tr th:last-child {
    border-right: none;
}

.table-wrapper .table tbody tr {
    height: 33px;
    color: #333333;
    font-weight: normal;
    box-sizing: border-box;
}

.table-wrapper .table tr td:first-child {
    border-left: none;
}

.table-wrapper .table tr td:last-child {
    border-right: none;
}

.table-wrapper .table tr td {
    vertical-align: middle;
    box-sizing: border-box;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #e5e5e5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.5rem;
    word-wrap: break-word;
    cursor: text;
    line-height: normal;
    color: #333333;
}

.table-wrapper .table tbody tr:first-child td {
    border-top: 1px solid #e5e5e5;
}

.table-wrapper .table tbody tr:nth-child(2n) td {
    background-color: #f8f8f9
}

.table-wrapper .table tbody tr:hover td {
    background-color: #ebf7ff
}

.table-wrapper .table-content {
    overflow: auto;
}
