.text-field {
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    padding: 3px 7px;
    font-size: 12px;
    border: 1px solid #dcdee2;
    /*border-radius: 4px;*/
    color: #515a6e;
    background: #fff none;
    vertical-align: middle;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}

.text-field::-moz-placeholder {
    color: #c5c8ce;
    opacity: 1
}

.text-field:-ms-input-placeholder {
    color: #c5c8ce
}

.text-field::-webkit-input-placeholder {
    color: #c5c8ce
}

.text-field:focus,.ivu-input:hover {
    border-color: #57a3f3
}

.text-field:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #2D8CF0
}

.text-field[disabled],fieldset[disabled] .text-field {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc
}

.text-field[disabled]:hover,fieldset[disabled] .text-field:hover {
    border-color: #e3e5e8
}
