.widget-border-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    /*background: #f5f7f9;*/
    height: 100%;
}

.widget-border-layout .north, .widget-border-layout .south {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /*background: #7cbce9;*/
    /*color: #fff;*/
}

.widget-border-layout .has-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.widget-border-layout .south {
    border-top: 1px solid #dcdee2;
}

.widget-border-layout .west, .widget-border-layout .east {
    position: relative;
    height: 100%;
    /*max-width: 200px;*/
    /*flex: 0 0 200px;*/
    /*background: #3a9fe8;*/
    /*color: #ffffff;*/
    overflow-y: auto;
    transition: all .2s ease-in-out;
}

.widget-border-layout .west {
    border-right: 1px solid #dcdee2;
}

.widget-border-layout .east {
    border-left: 1px solid #dcdee2;
}

.widget-border-layout .has-side > .center {
    overflow-x: hidden;
}

.widget-border-layout .center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*background: #8ee8e0;*/
    overflow: auto;
}
